
.header {
    width: 100vw;
}


.header-bg-img {
    left: 108px;
}

.header h1 {
    left: 10%;
    font-size: 50px;
}

.header .mobile-div {

    top: 35%;
}


.Testimonials .container .box {

}




